.container-bar {
  display: inline-block;
  position: relative;
  text-align: left;
}
.info {
  position: absolute;
  right: 0px;
}
.progress {
  background-color:#eee;

}
.bar {
  fill: #44d48f;
}

.month-nvd3 .nvd3 .nv-axis line{
	display: none;
}

.month-nvd3 .nv-line{
	display: none;
}

.month-nvd3 svg{
  margin: 0 0 0 25px;
}

.container-bar{
	margin: 30px 0 0 0;
}