<!-- <div class="top-scrubber"></div> -->
<div class="scrubber">
    <!-- <button class="back-scrubber-button green-button">&lt;</button> -->
    <div class="scrubber-brush-area"></div>
    <div class="scrubber-brush"></div>
    <!-- <button class="forward-scrubber-button green-button">&gt;</button> -->
</div>
<!-- <div class="days-buttons">
    <button data-days="30" class="dateff green-button">1 Month</button>
    <button data-days="7" class="dateff green-button">1 Week</button>
    <button data-days="1" class="dateff green-button">24 Hrs</button>
    <div class="time-text pull-right">
    	<span>{{timeRange.start_time.toDateString()}} {{timeRange.start_time.toLocaleTimeString()}}</span>
    	<span>-</span>
    	<span>{{timeRange.end_time.toDateString()}} {{timeRange.end_time.toLocaleTimeString()}}</span>
    </div>
</div> -->